---
import { getCollection } from "astro:content";
import { getImage, Image, Picture } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import AttachIcon from "../assets/icons/attach.svg";
import Zoomable from "../components/Zoomable.astro";

export async function getStaticPaths() {
    const rooms = await getCollection('rooms')
    
    return rooms.flatMap((room)=>{
        return room.data.bilder.map((img, i)=>{
            return {
                params: {imageId: `${room.id}/${img.name}`},
                props: {room, imageId: i}
            }
        })
    });
};

const {room, imageId} = Astro.props
const data = room.data
const baseUrl = import.meta.env.BASE_URL
const local = Astro.props.room.data.bilder[imageId]
const prevImageUrl = `${baseUrl}/${data.slug}/${data.bilder.at(imageId-1)?.name}`
const nextImageUrl = `${baseUrl}/${data.slug}/${data.bilder.at((imageId+1)%data.bilder.length)?.name}`
const transitImageUrl = `${baseUrl}/${local.verbindung}`
const imageRatio = local.image.width/local.image.height
const originalImage = await getImage({src: local.image, format: "jpg", quality: 90, width: 2592}) //Width from later smaller image standardized
const lowQualitySettings = {format: "webp", width: 64, quality: 60}
const lowQuality = await getImage({src: local.image, ...lowQualitySettings})
const prevLowQuality = await getImage({src: data.bilder.at(imageId-1)!.image, ...lowQualitySettings})
const nextLowQuality = await getImage({src: data.bilder.at((imageId+1)%data.bilder.length)!.image, ...lowQualitySettings})
//TODO prefetch transit low quality image
---

<Layout title={`FSG-Tour - ${room.data.name}`} preloads={[{href: prevLowQuality.src, priority: "low", rel: "prefetch", as: "image"},  {href: nextLowQuality.src, priority: "low", rel: "prefetch", as: "image"}]}>
    <h1 class="text-center">{room.data.name}</h1>
    <h2 class="text-center">Richtung: {local.name}</h2>
    <div class="flex justify-center">
        <div>
            <div class="relative"}>
                <Zoomable>
                    <Picture formats={["avif"]} fallbackFormat="jpeg" quality={50} src={local.image} alt={local.name} width="1824" transition:animate="fade" class="-z-10"
                    style=`background-repeat: no-repeat; background-size: 100% 100%; background-image: url(${lowQuality.src})`/>
                </Zoomable>
                <a href={prevImageUrl} class="absolute top-[50%] left-4 -rotate-90" data-astro-prefetch="viewport">
                    <svg viewBox="-2 -2 12 12" class="w-8 h-8">
                        <line x1="0" y1="8" x2="4" y2="0" class="stroke-white/80 stroke-[3]" stroke-linecap="round"/>
                        <line x1="4" y1="0" x2="8" y2="8" class="stroke-white/80 stroke-[3]" stroke-linecap="round"></line>

                        <line x1="0" y1="8" x2="4" y2="0" class="stroke-black stroke-2" stroke-linecap="round"/>
                        <line x1="4" y1="0" x2="8" y2="8" class="stroke-black stroke-2" stroke-linecap="round">
                    </svg>
                </a>
                {(typeof local.verbindung === "string") ? 
                    <a href={transitImageUrl} class="absolute top-4 right-[50%]" data-astro-prefetch="viewport">
                        <svg viewBox="-2 -2 12 12" class="w-8 h-8">
                            <line x1="0" y1="8" x2="4" y2="0" class="stroke-white/80 stroke-[3]" stroke-linecap="round"/>
                            <line x1="4" y1="0" x2="8" y2="8" class="stroke-white/80 stroke-[3]" stroke-linecap="round"/>

                            <line x1="0" y1="8" x2="4" y2="0" class="stroke-black stroke-2" stroke-linecap="round"/>
                            <line x1="4" y1="0" x2="8" y2="8" class="stroke-black stroke-2" stroke-linecap="round"/>
                        </svg>
                    </a>
                    : undefined}
                <a href={nextImageUrl} class="absolute top-[50%] right-4 rotate-90" data-astro-prefetch="viewport">
                    <svg viewBox="-2 -2 12 12" class="w-8 h-8">
                        <line x1="0" y1="8" x2="4" y2="0" class="stroke-white/80 stroke-[3]" stroke-linecap="round"/>
                        <line x1="4" y1="0" x2="8" y2="8" class="stroke-white/80 stroke-[3]" stroke-linecap="round"/>

                        <line x1="0" y1="8" x2="4" y2="0" class="stroke-black stroke-2" stroke-linecap="round"/>
                        <line x1="4" y1="0" x2="8" y2="8" class="stroke-black stroke-2" stroke-linecap="round"/>
                    </svg>
                </a>
            </div>
            <a href={originalImage.src} class="w-full hover:italic focus-visible:italic "><Image src={AttachIcon} alt="Attachment Icon" class="inline-block rotate-45"/>Original Bild</a>
        </div>
    </div>
</Layout>