---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
    const rooms = await getCollection('rooms')
    return rooms.flatMap((room)=>{
        return room.data.images.map((_, i)=>{
            return {
                params: {imageId: `${room.id}/${i}`},
                props: {room, imageId: i}
            }
        })
    });
};

/*export const getStaticPaths = ( async () => {
    const rooms = await getCollection("rooms")
    return rooms.map();
}) satisfies GetStaticPaths;*/

const {room, imageId} = Astro.props
const image = room.data.images[imageId]

---
<h1>{room.id}</h1>
<Image src={image.img} alt={`Raum: ${room.id} Bild Nr. ${imageId}`}/>
{
    (typeof image.connection !== "undefined") &&
    (<a href={`/${image.connection.room.id}/${image.connection.imageIndex}`}>Zum angrenzenden Raum</a>)
}