---
import Door from "./map/Door.astro";
const base = import.meta.env.BASE_URL
---
<svg viewBox="0 0 4367 3087">
    <a href={`${base}/1.411.1/nord`} id="map-1.411" aria-label="Oberer Kunstraum OKU"> <!--OKU -->
        <path d="M  865,316
                 L  865,182
                 L  622,182
                 L  622,585
                 L  865,585
                 L  865,562
                 M  865, 532
                 L  865, 490
                 L  882, 490
                 L  882, 411
                 L  865, 411
                 L  865, 348
                 M  865, 318
                 Z"/>
        <text x="640" y="379" font-size="26" font-weight="500">
            <tspan x="640" y="380">Oberer Kunstraum</tspan>
            <tspan x="640" y="400">(OKU)</tspan>
            <tspan x="640" y="420">1.411</tspan>
        </text>
    </a>
    <Door clockvise={true} pos={{x: 865, y: 562}} rotation="0"/>
    <Door clockvise={true} pos={{x: 865, y: 348}} rotation="0"/>
    
    <a id="map-1.412" href={`${base}/1.412/nord`} aria-label="OKU Nebenraum">
        <path d="M  865, 317
                 L  865, 260
                 L  1021, 260
                 L  1021, 411
                 L  865,411
                 Z"/>
        <text x="898" y="330" font-size="24" font-weight="500">
            <tspan x="898" y="330">Nebenraum</tspan>
            <tspan x="905" y="360">1.412</tspan>
        </text>
    </a>
    <a id="map-1.410" href=`${base}/1.410/nord` aria-label="Putzmittelraum">
        <path d="M  882 411
                 L  1021, 411
                 L  1021, 490
                 L  1003, 490
                 M  974 490
                 L  882 490 
                 L  882 411"/>
        <text x="900" y="455" font-size="26" font-weight="500">
            PM 1.410
        </text>
    </a>
    <Door clockvise={true} pos={{x: 1003, y: 490}} rotation="270"/>
    <a id="map-1.413" href=`${base}/1.413/nord` aria-label="WC neben OKU">
        <path d="M  865, 585
                 L  725, 585
                 L  725, 630
                 L  865, 630
                 L  893, 630
                 A  29 29, 0, 0 0, 865 600
                 Z"/>
        <text x="740" y="616" font-size="26" font-weight="500">WC 1.413</text>
    </a>
    <a id="map-1.414" href=`${base}/1.414.2/nord` aria-label="Klassen raum 1.414">
        <path d="M  725, 630
                 L  967, 630
                 L  967, 673
                 A  29 29, 0, 0 1, 995, 703
                 L  967, 703
                 L  967, 915
                 L  725, 915
                 Z"/>
        <text x="740" y="760" font-size="26" font-weight="500">
            Klassenraum 1.414
        </text>
    </a>
</svg>

<style>
    line, polyline, path {
        stroke:black;
        stroke-width: 12;
        fill: transparent;
        padding: 0;
        margin: 0;
    }
    a {
        padding: 0;
        margin: 0;
        z-index: -10;
    }
    a:hover path {
        fill: lightgray;
        border: none;
    }
    a:focus-visible {
        border: none;
        outline: none;
        path {
            fill: lightgray;
        }
    }
    text {
        font-size: 512;
    }
</style>