---
import Door from "./Door.astro";
import Zoomable from "../ZoomableContainer.astro";
const base = import.meta.env.BASE_URL
---
<Zoomable>
    <svg viewBox="0 0 4367 3087">
        <!--OKU -->
        <a href={`${base}/1.411.1/nord`} id="map-1.411" aria-label="Oberer Kunstraum OKU">
            <path d="M  865,316
                    L  865,182
                    L  622,182
                    L  622,585
                    L  865,585
                    L  865,562
                    L  865, 532
                    L  865, 490
                    L  882, 490
                    L  882, 411
                    L  865, 411
                    L  865, 348
                    L  865, 318
                    Z"/>
            <text x="640" y="379" font-size="26" font-weight="500">
                <tspan x="640" y="380">Oberer Kunstraum</tspan>
                <tspan x="640" y="418">(OKU)</tspan>
                <tspan x="640" y="455">1.411</tspan>
            </text>
        </a>
        <Door clockvise={true} pos={{x: 865, y: 562}} rotation="0"/>
        
        <!--OKU Nebenraum-->
        <a id="map-1.412" href={`${base}/1.412/nord`} aria-label="OKU Nebenraum">
            <rect x="865" y="260" width="156" height="151"/>
            <text x="898" y="330" font-size="24" font-weight="500">
                <tspan x="898" y="330">Nebenraum</tspan>
                <tspan x="905" y="360">1.412</tspan>
            </text>
        </a>

        <Door clockvise={true} pos={{x: 865, y: 348}} rotation="0"/>

        <!--Putzmittelraum neben OKU-->
        <a id="map-1.410" href=`${base}/1.410/nord` aria-label="Putzmittelraum">
            <rect x="882" y="411" width="139" height="79"/>
            <text x="900" y="455" font-size="26" font-weight="500">
                PM 1.410
            </text>
        </a>
        <Door clockvise={true} pos={{x: 1003, y: 490}} rotation="270"/><!--TODO Fix door rotation/flip horizontal -->

        <!--Treppe Notuasgang beim OKU und Forum 1 -->
        <a href=`${base}/1.409.1/nord` aria-label="Treppe Notuasgang beim OKU und Forum 1">
            <rect x="1021" y="260" width="122" height="230"/>
            <!--Treppe-->
            <g class="map-treppe">
                <rect x="1023" y="312" width="55" height="106"/>
                <line x1="1023" y1="322" x2="1078" y2="322"/>
                <line x1="1023" y1="333" x2="1078" y2="333"/>
                <line x1="1023" y1="344" x2="1078" y2="344"/>
                <line x1="1023" y1="355" x2="1078" y2="355"/>
                <line x1="1023" y1="366" x2="1078" y2="366"/>
                <line x1="1023" y1="377" x2="1078" y2="377"/>
                <line x1="1023" y1="388" x2="1078" y2="388"/>
                <line x1="1023" y1="398" x2="1078" y2="398"/>
                <line x1="1023" y1="408" x2="1078" y2="408"/>

                <rect x="1085" y="312" width="55" height="106"/>
                <line x1="1085" y1="322" x2="1140" y2="322"/>
                <line x1="1085" y1="333" x2="1140" y2="333"/>
                <line x1="1085" y1="344" x2="1140" y2="344"/>
                <line x1="1085" y1="355" x2="1140" y2="355"/>
                <line x1="1085" y1="366" x2="1140" y2="366"/>
                <line x1="1085" y1="377" x2="1140" y2="377"/>
                <line x1="1085" y1="388" x2="1140" y2="388"/>
                <line x1="1085" y1="398" x2="1140" y2="398"/>
                <line x1="1085" y1="408" x2="1140" y2="408"/>
            </g>
        </a>
        <Door clockvise={true} pos={{x: 1084, y: 490}} rotation="270"/><!--TODO Fix door rotation/flip horizontal -->
        <Door clockvise={true} pos={{x: 1118, y: 490}} rotation="270"/>

        <a id="map-1.408a" href=`${base}/1.408a.1/ost` aria-label="Forum 1 B端hne">
            <!--Fill/clickable area -->
            <rect x="1143" y="260" width="149" height="230" style="stroke: none;"/>
            <line x1="1143" y1="260" x2="1288" y2="260"/>
            <line x1="1292" y1="260" x2="1292" y2="490" style="stroke-dasharray: 8,24; stroke-width: 4;"/> <!--Schmale dashed line zwischen B端hne und Forum -->
            <line x1="1288" y1="490" x2="1143" y2="490"/>
            <line x1="1143" y1="490" x2="1143" y2="260"/>
            <text x="1170" y="330" font-size="26" font-weight="500">
                <tspan>B端hne</tspan>
                <tspan x="1170" y="370">1.408a</tspan>
            </text>
        </a>
        <Door pos={{x:1174, y:490}} rotation="90"/><!--TODO Fix door rotation/flip -->

        <!--Forum 1-->
        <a href="/1.408.4/west" aria-label="Forum 1">
            <!--Fill/clickable area -->
            <rect x="1288" y="182" width="467" height="308" style="stroke: none;"/>
            <line x1="1288" y1="182" x2="1755" y2="182"/>
            <line x1="1755" y1="182" x2="1755" y2="490"/>
            <line x1="1755" y1="490" x2="1292" y2="490"/>
            <line x1="1292" y1="260" x2="1292" y2="490" style="stroke-dasharray: 8,24; stroke-width: 4;"/> <!--Schmale dashed line zwischen B端hne und Forum -->
            <line x1="1288" y1="260" x2="1288" y2="182"/>
            <text x="1430" y="350" font-size="26" font-weight="500">
                Forum 1&nbsp;&nbsp;1.408
            </text>
        </a>
        <Door pos={{x:1303, y:490}} rotation="90"/><!--TODO Fix door rotation/flip -->
        <Door pos={{x:1330, y:490}} rotation="90"/><!--TODO Fix door rotation/flip -->

        <!--WC neben OKU-->
        <a id="map-1.413" href=`${base}/1.413/nord` aria-label="WC neben OKU">
            <rect x="725" y="585" width="140" height="45"/>
            <text x="740" y="616" font-size="26" font-weight="500">WC 1.413</text>
        </a>
        <Door clockvise={true} pos={{x: 865, y: 625 }} rotation="0"/>

        <!--Flur Links -->
        <a href="/1.402.5/nord">
            <path d="M  865,  490
                    L   1369, 490
                    L   1369, 630
                    L   1131, 630
                    L   1131, 1984
                    L   1041, 1984
                    L   1041, 1490
                    L   967,  1490
                    L   967,  630
                    L   865,  630
                    L   865,  490"/>
            <text x="960" y="560" font-size="26" font-weight="500">
                Flur Oben Links 1.402
            </text>
        </a>

        <a id="map-1.414" href=`${base}/1.414.2/nord` aria-label="Klassen raum 1.414">
            <rect x="725" y="630" width="242" height="290"/>
            <text x="740" y="760" font-size="26" font-weight="500">
                Klassenraum&nbsp;&nbsp;1.414
            </text>
        </a>
        <Door clockvise={true} pos={{x: 967, y: 703}} rotation="0"/> <!--TODO FIX door directions/flip it -->

        <!--Orchesterraum -->
        <a href=`${base}/1.407.1/nord` aria-label="Orchesterraum">
            <rect x="1131" y="630" width="242" height="294"/>
            <text x="1150" y="760" font-size="26" font-weight="500">
                <tspan>Orchesterraum</tspan>
                <tspan x="1150" y="790">1.407</tspan>
            </text>
        </a>
        <Door pos={{x: 1131, y: 855}} rotation="180" clockvise={false}/> <!--TODO fix door directions/flip it -->

        <!--Ifr 1 -->
        <a href=`${base}/1.415.1/nord` aria-label="Informatik 1">
            <rect x="725" y="920" width="242" height="245"/>
            <text x="740" y="1020" font-size="26" font-weight="500">
                Informatik 1&nbsp;&nbsp;1.415
            </text>
        </a>
        <Door pos={{x:967, y: 983}} rotation="0"/><!--TODO FIX door directions/flip it -->

        <a href=`${base}/1.406.1/nord` aria-label="Klassenraum 1.406">
            <rect x="1131" y="924" width="242" height="290"/>
            <text x="1150" y="1054" font-size="26" font-weight="500">
                <tspan>Klassenraum</tspan>
                <tspan x="1150" y="1084">1.406</tspan>
            </text>
        </a>
        <Door pos={{x: 1131, y: 1144}} rotation="180" clockvise={false}/> <!--TODO fix door directions/flip it -->

        <!--Ifr2 -->
        <a href=`${base}/1.416.1/nord` aria-label="Informatik 2">
            <rect x="725" y="1165" width="242" height="325"/>
            <text x="740" y="1300" font-size="26" font-weight="500">
                Informatik 2&nbsp;&nbsp;1.416
            </text>
        </a>
        <Door pos={{x:967, y: 1234}} rotation="0"/><!--TODO FIX door directions/flip it -->

        <a href=`${base}/1.405.1/nord` aria-label="Klassenraum 1.405">
            <rect x="1131" y="1213" width="242" height="257"/>
            <text x="1150" y="1344" font-size="26" font-weight="500">
                <tspan>Klassenraum</tspan>
                <tspan x="1150" y="1374">1.405</tspan>
            </text>
        </a>
        <Door pos={{x: 1131, y: 1430}} rotation="180" clockvise={false}/> <!--TODO fix door directions/flip it -->

        <a href=`${base}/1.404.1/nord` aria-label="Klassenraum 1.404">
            <rect x="1131" y="1470" width="242" height="257"/>
            <text x="1150" y="1604" font-size="26" font-weight="500">
                <tspan>Klassenraum</tspan>
                <tspan x="1150" y="1634">1.404</tspan>
            </text>
        </a>
        <Door pos={{x: 1131, y: 1680}} rotation="180" clockvise={false}/> <!--TODO fix door directions/flip it -->

        <a href=`${base}/1.403.1/nord` aria-label="Klassenraum 1.403">
            <rect x="1131" y="1727" width="242" height="257"/>
            <text x="1150" y="1861" font-size="26" font-weight="500">
                <tspan>Klassenraum</tspan>
                <tspan x="1150" y="1891">1.403</tspan>
            </text>
        </a>
        <Door pos={{x: 1131, y: 1940}} rotation="180" clockvise={false}/> <!--TODO fix door directions/flip it -->

        <a href="1.401.1/nord" aria-label="Treppe in den oberen linken Gang">
            <rect x="1041" y="1984" width="332" height="101"/>
            <g class="map-treppe">
                <rect x="1136" y="1986" width="235" height="77"/>
                <line x1="1147" y1="1986" x2="1147" y2="2063"/>
                <line x1="1158" y1="1986" x2="1158" y2="2063"/>
                <line x1="1169" y1="1986" x2="1169" y2="2063"/>
                <line x1="1181" y1="1986" x2="1181" y2="2063"/>
                <line x1="1193" y1="1986" x2="1193" y2="2063"/>
                <line x1="1204" y1="1986" x2="1204" y2="2063"/>
                <line x1="1216" y1="1986" x2="1216" y2="2063"/>
                <line x1="1227" y1="1986" x2="1227" y2="2063"/>
                <line x1="1238" y1="1986" x2="1238" y2="2063"/>
                <line x1="1249" y1="1986" x2="1249" y2="2063"/>
                <line x1="1260" y1="1986" x2="1260" y2="2063"/>
                <line x1="1271" y1="1986" x2="1271" y2="2063"/>
                <line x1="1283" y1="1986" x2="1283" y2="2063"/>
                <line x1="1294" y1="1986" x2="1294" y2="2063"/>
                <line x1="1304" y1="1986" x2="1304" y2="2063"/>
                <line x1="1316" y1="1986" x2="1316" y2="2063"/>
                <line x1="1327" y1="1986" x2="1327" y2="2063"/>
                <line x1="1339" y1="1986" x2="1339" y2="2063"/>
                <line x1="1350" y1="1986" x2="1350" y2="2063"/>
                <line x1="1361" y1="1986" x2="1361" y2="2063"/>
            </g>
        </a>
        <Door pos={{x:1056, y:1978}} rotation="90"/><!--TODO Fix direction/flip -->
        <Door pos={{x:1085, y:1978}} rotation="90"/>
    </svg>
</Zoomable>

<style>
    svg {
        isolation: isolate;
    }
    line, polyline, path, rect {
        stroke: currentColor;
        @media not (prefers-reduced-transparency) {
            opacity: 0.8;/*lightly transparent strokes so when the one in focus or hovered can shine through*/
        }
        stroke-width: 8;
        fill: transparent;
        padding: 0;
        margin: 0;
        stroke-linecap: square;
    }
    a {
        padding: 0;
        margin: 0;
        z-index: -10;
    }
    a:hover :where(path, line, rect) {
        fill: var(--highlight-bg-color);
        stroke: var(--highlight-color);
        border: none;
        stroke-width: 14;
    }
    a:focus-visible {
        border: none;
        outline: none;
        path {
            fill: var(--highlight-bg-color);
        }
        z-index: 10;
    }
    a:hover {
        z-index: 10;
    }
    text {
        fill: currentColor;
    }
    .map-treppe rect {
        fill: none;
        stroke-width: 3;
        @media (prefers-contrast: more) {
            stroke-width: 5;
        }
    }
    .map-treppe line {
        stroke-width: 2;
        @media not (prefers-reduced-transparency) {
            opacity: .5;
        }
        @media (prefers-contrast: more) {
            stroke-width: 3;
            opacity: 1;
        }
    }
</style>